build/
obj/
out/

permuter_settings.toml

# ninja
*.ninja
.ninja_log
compile_commands.json

# clangd
.cache/

# splat
asm/
assets/
config/undefined_funcs_auto.txt
config/undefined_syms_auto.txt
.splache
*.ld

# stuff
disc/
tools/cc/eegcc-2.95.3-V1.36

venv/

temp_sheet.xlsx
objdiff.json